.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.red {
  color: red;
}

.login-page-content {
  width: 100%;
  text-align: -webkit-center;
  padding: 10px;
  margin: 10px;
}

.login-card {
  text-align: left;
  width: fit-content;
  padding: 40px;
  margin: 10px;
}

.login-card-form-username,
.login-card-form-password {
  width: 300px;
}
